@font-face {
    font-family: "BPG Mrgvlovani Caps 2010";
    src: url("../fonts/BPGMrgvlovaniCaps2010.eot");
    src: url("../fonts/BPGMrgvlovaniCaps2010.eot#iefix") format("embedded-opentype"),
         url("../fonts/BPGMrgvlovaniCaps2010.woff2") format("woff2"),
         url("../fonts/BPGMrgvlovaniCaps2010.woff") format("woff"),
         url("../fonts/BPGMrgvlovaniCaps2010.ttf") format("truetype"),
         url("../images/BPGMrgvlovaniCaps2010.svg#BPGMrgvlovaniCaps2010") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "BPG Mrgvlovani";
    src: url("../fonts/BPGMrgvlovani.eot");
    src: url("../fonts/BPGMrgvlovani.eot#iefix") format("embedded-opentype"),
         url("../fonts/BPGMrgvlovani.woff2") format("woff2"),
         url("../fonts/BPGMrgvlovani.woff") format("woff"),
         url("../fonts/BPGMrgvlovani.ttf") format("truetype"),
         url("../images/BPGMrgvlovani.svg#BPGMrgvlovani") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gilroy GEO";
    src: url("../fonts/GilroyGEO-Heavy.eot");
    src: url("../fonts/GilroyGEO-Heavy.eot#iefix") format("embedded-opentype"),
         url("../fonts/GilroyGEO-Heavy.woff2") format("woff2"),
         url("../fonts/GilroyGEO-Heavy.woff") format("woff"),
         url("../fonts/GilroyGEO-Heavy.ttf") format("truetype"),
         url("../images/GilroyGEO-Heavy.svg#GilroyGEO") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "BPG LE Studio 02 Caps";
    src: url("../fonts/bpg_le_studio_02_caps.ttf");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "BPG Arial";
    src: url("../fonts/bpg_arial_2009.ttf");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Helvetica";
    src: url("../fonts/HelveticaRoman.ttf");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}